<h1>New Ontology</h1>

<p>
  <strong>Stuff:</strong>
  <%= @cenas.inspect %>
<p>

<p>
  <strong>Tempos:</strong>
  <%= @tempo.inspect %>
<p>

<%= render 'form' %>

<%= link_to 'Back', ontologies_path %>
