// Place all the styles related to the Queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
  word-wrap: normal;
  line-height: 1.42857143;
}

#query-results td {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#q_content {
  max-width: 100%;
}

textarea {
  max-height: 500px;
}
